<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td,th{
            border:1px solid black;
        }
    </style>
</head>
<body>
    <form method="get" action="/users/add">
        <button>Add Users!</button>
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <% for (let user of result) { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.password %>
                </td>
                <td>
                    <form method="get" action="/users/<%=user.id%>/edit">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/users/<%=user.id%>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>